<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOSicloudDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4D86CEC1DC7509500DEEA6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D86D051DC7509500DEEA6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4D86D101DC7509500DEEA6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
